/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Main */

body {
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
	background: hsl(0, 36%, 70%, .1);
}

.base {
	display: grid;
	grid-template-areas: "logo" "container" "photo";
	grid-template-rows: auto 1fr;
	height: 100vh;
}

.logo {
	grid-area: logo;
	padding: 1rem 2rem;
	text-align: left;
}

.logolink {
	display: inline-block;
	padding: 1rem;
}

img {
	height: 3.5rem;
}


/* Coming-soon */

.coming-soon {
	grid-area: coming-soon;
	padding: 6rem 5rem;
}

.title {
	margin-bottom: 2.5rem;
	color: #413a3a;
	font-size: 4rem;
	letter-spacing: 1rem;
	line-height: 1.15;
	text-transform: uppercase;
}

.title span {
	display: block;
	color: #CE9797;
	font-weight: 300;
}

.content {
	color: #CE9797;
	font-size: 1.6rem;
	line-height: 1.5;
	margin-bottom: 4rem;
}

/* Email */

.email-input {
	color: #CE9797;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.6rem;
}

.email-input::placeholder {
	color: rgba(206, 151, 151, 0.6);
	font-family: inherit;
}

.email-form {
	position: relative;
	margin: 0 auto;
	max-width: 36.2rem;
}

.email-input {
	width: 100%;
	padding: 1.6rem 10rem 1.6rem 2rem;
	background: transparent;
	border: 2px solid hsl(0, 6%, 24%, 0.1);
	border-radius: 5rem;
}
.email-input:focus {
	outline: none;
}
.email-input:not(:placeholder-shown) {
	background: transparent;
}
.email-input:invalid {
	background: url(/img/icon-error.svg) no-repeat;
	background-position: top 1.1rem right 7rem;
	border: 2px solid hsl(0, 93%, 68%);
}
.email-input:invalid + .form__warning {
	opacity: 1;
}
.email-submit {
	position: absolute;
	top: 0;
	right: 0;
	width: 6.5rem;
	height: 5.1rem;
	background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
	border: none;
	border-radius: 5rem;
	box-shadow: 0 1rem 2rem hsl(0, 6%, 24%, .25);
}
.email-submit:hover {
	cursor: pointer;
}
.email-submit:focus {
	outline: none;
}
.email-submit:focus,
.email-submit:hover {
	background-image: linear-gradient(135deg, hsl(0, 80%, 91%), hsl(0, 74%, 79%));
	box-shadow: 0 1rem 2rem hsl(0, 6%, 24%, .5);
}

/* Photo */
.photo {
	grid-area: photo;
	background-size: cover;
	height: 25rem;
}

/* .photo {
	background-image: url(/img/hero-desktop.jpg) no-repeat;
} */

/* Footer */

footer {
	position: ;
}

.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

/* Media Queries */

@media (min-width: 768px) {
	body {
		text-align: left;
		background: url(/img/bg-pattern-desktop.svg) no-repeat;
		background-size: 70% 100%;
	}

	.base {
		grid-template-areas: "logo photo" "coming-soon photo";
		grid-template-rows: auto 1fr;
		grid-template-columns: 1.5fr 1fr;
	}

	.logo {
		grid-area: logo;
		padding: 1rem 2rem;
		text-align: left;
	}

	.logolink {
		display: inline-block;
		padding: 1rem;
	}

	.logo img {
		height: auto;
		width: auto;
	}

	.title {
		font-size: 6rem;
	}

	.photo {
		grid-area: photo;
		background-size: cover;
		background-image: url(/img/hero-mobile.jpg);
		height: 100%;
	}

	.coming-soon {
		padding: 6rem 10rem;
	}

	.email-form {
		margin: 0;
		max-width: 50rem;
	}
	.email-input {
		padding-right: 10rem;
	}
	.email-input:focus:invalid {
		background-position: top 1.1rem right 9rem;
	}
	.email-submit {
		width: 8rem;
	}
}

@media (min-width: 1024px) {
	.coming-soon {
		padding: 6rem 20rem;
	}
	.title {
		font-size: 8rem;
	}

	.logo {
		padding: 3rem 20rem;
	}

	.email-form {
		position: relative;
		margin: 0 auto;
		max-width: 36.2rem;
	}
	.email-input {
	width: 100%;
	padding: 1.6rem 10rem 1.6rem 2rem;
	background: transparent;
	border: 2px solid rgba(65, 58, 58, 0.1);
	border-radius: 5rem;
	}
	.email-input:focus {
	outline: none;
	/* Show warning when the value in the input field is invalid */
	}
	.email-input:focus:not(:placeholder-shown) {
	background: transparent;
	}
	.email-input:focus:invalid {
	background: url(../images/icon-error.svg) no-repeat;
	background-position: top 1.1rem right 7rem;
	border: 2px solid #f96262;
	}
	.email-input:focus:invalid + .form__warning {
	opacity: 1;
	}
	.email-submit {
		position: absolute;
		top: 0;
		right: 0;
		width: 6.5rem;
		height: 5.1rem;
		background-image: linear-gradient(135deg, #f8bfbf, #ee8c8c);
		border: none;
		border-radius: 5rem;
	}
	.email-submit:hover {
	cursor: pointer;
	}
	.email-submit:focus {
	outline: none;
	}
	.email-submit:focus, .form__submit:hover {
		background-image: linear-gradient(135deg, #fad6d6, #f1a2a2);
	}
}

