/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Main */

body {
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
	background: hsl(0, 36%, 70%, .1);
}

.base {
	display: grid;
	grid-template-areas: "logo" "coming-soon" "photo" "footer";
	grid-template-rows: 1.5fr 1fr;
	height: 100vh;
}

.logo {
	grid-area: logo;
	padding: 16px 16px;
	text-align: left;
}

.logolink {
	display: inline-block;
	padding: 16px;
}

/* Coming-soon */

.coming-soon {
	grid-area: coming-soon;
	padding: 8px 8px;
}

.title {
	font-weight: 600;
	margin-bottom: 16px;
	color: #413a3a;
	font-size: 16px;
	letter-spacing: 16px;
	line-height: 1;
	text-transform: uppercase;
}

.title span {
	display: block;
	color: #CE9797;
	font-weight: 300;
}

.content {
	color: #CE9797;
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 32px;
}

/* Email */

.email-input {
	color: #CE9797;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 16px;
}

.email-input::placeholder {
	color: rgba(206, 151, 151, 0.6);
	font-family: inherit;
}

.email-form {
	position: relative;
	margin: 0 auto;
	max-width: 575px;
}

.email-input {
	width: 100%;
	padding: 16px 16px 16px 16px;
	background: transparent;
	border: 2px solid hsl(0, 6%, 24%, 0.1);
	border-radius: 80px;
}
.email-input:focus {
	outline: none;
}
.email-input:not(:placeholder-shown) {
	background: transparent;
}
.email-input:invalid {
	background: url(/img/icon-error.svg) no-repeat;
	background-position: top 18px right 112px;
	border: 2px solid hsl(0, 93%, 68%);
}
.email-input:invalid + .form__warning {
	opacity: 1;
}
.email-submit {
	position: absolute;
	top: 0;
	right: 0;
	width: 104px;
	height: 82px;
	background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
	border: none;
	border-radius: 80px;
	box-shadow: 0 16px 32px hsl(0, 6%, 24%, .25);
}
.email-submit:hover {
	cursor: pointer;
}
.email-submit:focus {
	outline: none;
}
.email-submit:focus,
.email-submit:hover {
	background-image: linear-gradient(135deg, hsl(0, 80%, 91%), hsl(0, 74%, 79%));
	box-shadow: 0 16px 16px hsl(0, 6%, 24%, .5);
}

/* Footer */

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

/* Media Queries */

@media screen and (min-width: 300px) {

	.base {
		grid-template-areas: "logo" "photo" "coming-soon";
		grid-template-rows: auto;
		grid-template-columns: 1fr;
	}

	.logo {
		grid-area: logo;
		padding: 8px 8px;
		text-align: left;
		height: 36px;
	}

	.logo img {
		height: 36px;
	}

	a .logolink {
		padding: 4px;
	}

	.photo {
		position: relative;
		grid-area: photo;
		background: url(/img/hero-mobile.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		height: 32vh;
		width: 100vw;
	}

	.coming-soon {
		grid-area: coming-soon;
		padding-left: 32px;
		padding-right: 32px;	
	}

	.title {
		font-weight: 600;
		margin-bottom: 16px;
		color: #413a3a;
		font-size: 32px;
		letter-spacing: 16px;
		line-height: 1;
		text-transform: uppercase;
	}

	.content {
		color: #CE9797;
		font-size: 14px;
		line-height: 1.5;
		margin-bottom: 32px;
	}

	.email-form {
		position: relative;
		margin: 0 auto;
		max-width: 475px;
	}
	.email-input {
		width: 100%;
		padding: 16px;
		padding-right: 160px;
		background: transparent;
		border: 2px solid rgba(65, 58, 58, 0.1);
		border-radius: 80px;
	}
	.email-input:focus {
		outline: none;
	/* Show warning when the value in the input field is invalid */
	}
	.email-input:focus:not(:placeholder-shown) {
		background: transparent;
	}
	.email-input:focus:invalid {
		background: url(../images/icon-error.svg) no-repeat;
		background-position: top 18px right 112px;
		border: 2px solid #f96262;
	}
	.email-input:focus:invalid + .form__warning {
		opacity: 1;
	}
	.email-submit {
		position: absolute;
		top: 0;
		right: 0;
		width: 96px;
		height: 52px;
		background-image: linear-gradient(135deg, #f8bfbf, #ee8c8c);
		border: none;
		border-radius: 80px;
	}
	.email-submit:hover {
	cursor: pointer;
	}
	.email-submit:focus {
	outline: none;
	}
	.email-submit:focus, .form__submit:hover {
		background-image: linear-gradient(135deg, #fad6d6, #f1a2a2);
	}
}

@media (min-width: 960px) {
	body {
		text-align: left;
		background: url(/img/bg-pattern-desktop.svg) no-repeat;
		background-size: 70% 100%;
	}

	.base {
		grid-template-areas: "logo photo" "coming-soon photo";
		grid-template-rows: auto 1fr;
		grid-template-columns: 1.5fr 1fr;
	}

	.coming-soon {
		padding-left: 150px;
		padding-right: 350px;	
	}
	.title {
		font-size: 64px;
	}

	.logo {
		grid-area: logo;
		padding: 48px 80px;
		text-align: left;
	}

	.logolink {
		display: inline-block;
		padding: 16px;
	}

	.logo img {
		height: auto;
		width: auto;
	}

	.photo {
		grid-area: photo;
		background-size: cover;
		background-image: url(/img/hero-desktop.jpg);
		height: 100vh;
	}

	.email-form {
		position: relative;
		margin: 0 auto;
		max-width: 475px;
	}
	.email-input {
		width: 100%;
		padding: 16px;
		padding-right: 160px;
		background: transparent;
		border: 2px solid rgba(65, 58, 58, 0.1);
		border-radius: 80px;
	}
	.email-input:focus {
		outline: none;
	/* Show warning when the value in the input field is invalid */
	}
	.email-input:focus:not(:placeholder-shown) {
		background: transparent;
	}
	.email-input:focus:invalid {
		background: url(../images/icon-error.svg) no-repeat;
		background-position: top 18px right 112px;
		border: 2px solid #f96262;
	}
	.email-input:focus:invalid + .form__warning {
		opacity: 1;
	}
	.email-submit {
		position: absolute;
		top: 0;
		right: 0;
		width: 96px;
		height: 52px;
		background-image: linear-gradient(135deg, #f8bfbf, #ee8c8c);
		border: none;
		border-radius: 80px;
	}
	.email-submit:hover {
	cursor: pointer;
	}
	.email-submit:focus {
	outline: none;
	}
	.email-submit:focus, .form__submit:hover {
		background-image: linear-gradient(135deg, #fad6d6, #f1a2a2);
	}
}
